.misProyectos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.proyecto p{
    font-family: 'Chakra Petch', sans-serif;
font-size: 18px;

}

.lates{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 17px;
}

@media (min-width: 768px){
    .proyectos{
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .misProyectos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .proyecto img{
        height: 250px;
    }

    .proyecto{
        width: 500px;
        transition: transform 0.3s ease-in-out;
    }
    .proyecto:hover {
        transform: scale(1.1); /* Cambia el valor según lo deseado para el efecto de sobresalir */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: Agrega una sombra para un efecto más pronunciado */
      }
}